---
title: About
---

h3.bold
  span.fa-stack
    i.fa.fa-circle.fa-stack-2x
    i.fa.fa-question.fa-stack-1x.fa-inverse
  | &nbsp;About

.panel.panel-default
  .panel-heading
    h4.panel-title.bold init.el読書会とは
  .panel-body
    p.wide-line
      | オンラインで集まり、毎回みんなで特定の誰かのinit.elを読む会です。
      br
      | 気になる所や分からない所、感心する所などを好き勝手に言いあう集まりです。
    p.wide-line
      | 便利な設定を共有したり、便利な拡張を発掘したり、Emacs Lispに対する理解を深めたりすることができます。
      br
      | また、時には自身のinit.elを読んでもらうことで、init.elの問題点を発見し、init.elを洗練させます。

.panel.panel-default
  .panel-heading
    h4.panel-title.bold 開催概要
  .panel-body
    ul.fa-ul
      li
        i.fa-li.fa.fa-calendar
        | 日時：毎週土曜日 22:00～ (JST)
      li
        i.fa-li.fa.fa-map-marker
        | 場所：
        = link_to 'LingrのEmacs部屋', 'http://lingr.com/room/emacs/', target: :_blank
    p.wide-line
      | 発言するにはLingrのアカウントを取得する必要があります。
      br
      | ログを読みたいだけならその必要はありません(過去の開催ページにログへのリンクがあります)。
      br
      | 終了時間は特に決まっていませんが、1時間くらいを想定しています。

.panel.panel-default
  .panel-heading
    h4.panel-title.bold Lingrのアカウント登録方法について
  .panel-body
    p.wide-line
      | 現在、スパム対策のためLingrのアカウント取得はFacebookアカウント連携を行うか、専用の招待リンクを経由する必要があります。
      br
      | Facebookアカウントとの連携を行いたくない方は、
      = link_to 'こちらのリンク', 'http://goo.gl/te79YK', target: :_blank
      | を経由してアカウント登録を行って下さい。

.panel.panel-default
  .panel-heading
    h4.panel-title.bold おやくそく
  .panel-body
    ul.fa-ul
      li
        i.fa-li.fa.fa-check
        | 途中参加/途中離脱OK。特に声をかける必要はないです。
      li
        i.fa-li.fa.fa-check
        | 読む順はとくに決めないので、好きなように読んで好きなように発言しましょう。
      li
        i.fa-li.fa.fa-check
        | init.el内の特定位置を参照する場合は行番号で
        tt L100
        | のように指定します。
      li
        i.fa-li.fa.fa-check
        | 特定の相手に発言/返事する場合は先頭に
        tt username:
        | を付けます。
      li
        i.fa-li.fa.fa-check
        | 一通り読み終わったら、読み終わったことを宣言してください。終了の目安にします。
        ul.fa-ul
          li
            i.fa-li.fa.fa-check
            | ただの目安なので、宣言してからでも読み返して全然OKです。

.panel.panel-default
  .panel-heading
    h4.panel-title.bold 読まれることになった方へ
  .panel-body
    p.wide-line
      | 本会では、広く公開されているinit.elの中から読むinit.elを勝手に選んで読んでいます。
      br
      | 公開されているものは読まれても問題ないものであると考え、一定の手間を避けるために、基本的にinit.elの持ち主に連絡を行うことはありません。
      br
      | ただし、もしあなたのinit.elが読まれることになり、かつ都合が悪い場合は、お手数ですが運営メンバーへご連絡ください。
      br
      | 善処したいと思います。
    ul.fa-ul
      li
        i.fa-li.fa.fa-exclamation-circle
        | 読まれたくない! やめろ!
        ul.fa-ul
          li
            i.fa-li.fa.fa-arrow-right
            | 読むのを控えさせていただきます。ご迷惑をおかけしました。
      li
        i.fa-li.fa.fa-exclamation-circle
        | リクエストページに自分のが追加されているけど、読まれたくない…
        ul.fa-ul
          li
            i.fa-li.fa.fa-arrow-right
            | 読まないよう印を付けさせていただきます(再追加を避けるために、削除はしません)。
      li
        i.fa-li.fa.fa-exclamation-circle
        | 自分のが読まれるなら参加したいけど、その日は都合が悪い…
        ul.fa-ul
          li
            i.fa-li.fa.fa-arrow-right
            | 読む日を改めさせてもらいたいと思います。ご都合の良い日を教えてください。

.panel.panel-default
  .panel-heading
    h4.panel-title.bold 運営
  .panel-body
    p.wide-line
      | 主に開催の日程を決めたり、init.elを探してきたり、当日の進行(と言っても開始と終了の合図をするくらい)をする人たちです。
    ul.fa-ul
      li
        i.fa-li.fa.fa-twitter
        = link_to '@hico_horiuchi', 'https://twitter.com/hico_horiuchi', target: :_blank
    p.wide-line
      | 運営者はいつでも募集中です。 お気軽に声をかけてください!
